/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

h1 {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue";
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 30pt;
}

p {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue";
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 16pt;
}

.row {
  color: black;
  margin-left: 450px;
  font-family: Helvetica Neue;
  font-size: 18pt;
  font-weight: bold;
}

.stmt {
  color: grey;
  font-size: 10pt;
  text-align: left;
  margin-top: 0px
}

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box_sizing:          border-box;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  height: 40px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
  @include  box_sizing;
}

.signupText {
  font-size: 18pt;
  font-family: "Helvetica Neue"
}

.SubmitButton {
  margin-top: 25px;
}

.btn {
  font-size: 18pt;
  font-family: "Helvetica Neue";
  background-color: forestgreen;
  color: lightgrey;
}

#error_explanation {
  color: red;
  font-size: 12pt;
  font-family: "Helvetica Neue";
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}