/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

h1 {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue";
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: 30pt;
}

p {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 20pt;
}

.row {
  color: black;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 20pt;
}

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box_sizing:          border-box;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  height: 40px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  @include  box_sizing;
}

input {
  font-size: 18pt;
  font-family: "Helvetica Neue"
}